<div class="d-flex flex-column align-items-center" id="answer-container">
    <h2><%= @question %></h2>
    <h5><em>- You</em></h5>

    <h2><%= @answer %></h2>
    <h5><em>- Coach</em></h5>

    <%= link_to "Ask a new question!", ask_path, :class => "btn btn-primary" %>
</div>