<div class="d-flex justify-content-around">
  <form class="d-flex" action="/answer" method="get">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>